.mapContainer {
	border-radius: 20px;
	height: 100vh;
	left: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.mobileInterface {
	display: none;
}

.navigationPanel {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 0px 0px 10px #adadad;
	font-weight: 500;
	height: calc(100vh - 40px);
	max-height: 800px;
	left: 20px;
	max-width: 300px;
	opacity: .95;
	overflow: hidden;
	top: 20px;
	position: absolute;
	width: 20vw;
	min-width: 300px;
	z-index: 1000;

	.titleHeader {
		text-align: center;
		font-size: 25px;
		padding: 40px 30px 30px;
	}

	.navigationBody {
		// padding: 0 24px;
	}

	.filtersContainer {
		border-radius: 6px;
		flex-direction: column;
		height: calc(100% - 60px);
		opacity: 0;
		pointer-events: none;
		transition: opacity .2s;
		-webkit-transition: opacity .2s;
		
		.filterTool {
			font-size: 14px;
			margin: 20px 35px;
		}
	}

	.filtersContainerOpened {
		display: flex;
		opacity: 1;
		pointer-events: auto;
		transition: opacity .2s;
		-webkit-transition: opacity .2s;
	}

	.listContainer {
		height: 390px;
		max-height: 80%;
		margin: 0 0 24px 0;
		overflow: auto;
		position: relative;
		text-align: center;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}

		.listItem {
			align-items: center;
			border-top: 1px solid #e7e7e7;
			border-left: 1px solid white;
			cursor: pointer;
			height: fit-content;
			margin: 0 24px;
			padding: 10px;
			
			.shipName {
				font-size: 14px;
				margin: 0 0 10px 0;
				text-align: start;
			}

			.statsContainer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				opacity: .7;

				.shipStat {
					display: flex;
					flex-direction: row;
					align-items: center;
					font-size: 11px;
					width: 50px;
					
					img {
						margin-right: 3px;
						// opacity: .7;
						height: 15px;
					}
				}
			}


			&:hover {
				background: linear-gradient(90deg, #ffffff 0%, #f1f1f1 50%, white 100%)
			}
		}
	}

	.toolsButtons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0px 24px;
		user-select: none;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */

		img {
			height: 24px;
			opacity: .7;
			width: 24px;
		}

		.button {
			align-items: center;
			border-radius: 6px;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			font-size: 12px;
			justify-content: center;
			height: 60px;
			width: 60px;

			&:hover {
				background-color: rgb(238, 238, 238);
			}
		}

	}

	.toolsContainer {
		box-shadow: 0px 8px 8px -10px #9b9b9b;
		height: 70px;
		padding-bottom: 10px;
		position: relative;
		transition: height .3s ease-out;
    	z-index: 1000;
	}

	.toolsContainerOpened {
		height: 400px;
		transition: height .3s ease-out;
	}
}

@media screen and (max-width: 550px) {
	.navigationPanel {
		display: none;
	}

	.listContainer {
		display: none;
	}

	.mapContainer {
		border-radius: 0px;
		height: calc(100% - 70px);
	}

	.mobileInterface {
		display: block;
	}
}