.mapContainer {
	border-radius: 20px;
	height: 100vh;
	left: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.navigationPanel {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 0px 0px 10px #adadad;
	font-weight: 500;
	height: 75vh;
	left: 20px;
	opacity: .95;
	top: 20px;
	position: absolute;
	width: 20vw;
	z-index: 1000;

	.titleHeader {
		text-align: center;
		font-size: 25px;
		padding: 20px 0;
	}

	.navigationBody {
		padding: 20px 0;
	}
}