.body {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.bottomModalHidden {
	bottom: -230px;
	height: 300px;
	left: 0;
	opacity: .93;
	pointer-events: none;
	position: absolute;
	transition: bottom .2s;
	-webkit-transition: bottom .2s;
	width: 100%;
	z-index: 100;
}

.bottomModalVisible {
	bottom: 70px;
	height: 300px;
	left: 0;
	opacity: .93;
	pointer-events: auto;
	position: absolute;
	transition: bottom .2s;
	-webkit-transition: bottom .2s;
	width: 100%;
	z-index: 100;
}

.navPanel {
	bottom: 0;
	box-shadow: 0px -1px 3px #cbcbcb;
	display: block;
	position: absolute;
	left: 0;
	width: 100vw;
	height: 70px;
	background-color: white;
	z-index: 1000;

	.toolsButtons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 5px 0;
		opacity: .7;
		text-align: center;

		.button {
			align-items: center;
			border-radius: 6px;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			font-size: 12px;
			justify-content: center;
			padding: 5px;
			height: 50px;
			width: 60px;
		}

		.buttonSelected {
			background-color: rgb(238, 238, 238);
		}

		img {
			margin-bottom: 5px;
			height: 18px;
		}

	}
}

.searchContainer {
	margin: 10px;
	height: 1000px;
	padding: 10px;
	position: relative;
	z-index: 0;
}

.title {
	display: block;
	font-weight: 200;
	height: fit-content;
	margin: 8px;
	position: absolute;
	top: 0;
	width: fit-content;
	z-index: 1000;
}