.modalOuterContainer{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 15px rgb(128, 128, 128);
    height: 200px;
    left: calc(50vw - 100px);
    position: absolute;
    top: calc(50vh - 200px);
    width: 200px;
    z-index: 1000;
}

.modalInnerContainer {
    padding: 12px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .closeButton {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        justify-content: center;
        height: 30px;
        width: 30px;

        img {
            height: 26px;
        }
    }

    .title {
        align-items: center;
        display: flex;
        font-size: 18px;
        font-weight: 500;
    }
}