.modalBody {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 15px rgb(128, 128, 128);
    height: 200px;
    left: calc(50vw - 100px);
    position: absolute;
    top: calc(50vh - 200px);
    width: 200px;
    z-index: 1000;
}